
html {
  font-size: 10px;
  /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Varela Round", serif;
  /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size : 20px
}

p,
a,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 10px; /* Reduce the space between paragraphs */
}

html {
  background-color: #00ffea;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #b4af19;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.gallery {
  display: flex;
  overflow-y: auto;
}

.gallery img {
  flex-shrink: 0;
  width: auto;
  object-fit: cover;
  margin-right: 10px; /* Adjust the value as needed for desired spacing */
}

/* Remove margin from the last image */
.gallery img:last-child {
  margin-right: 0;
}

.selected[data-ranking-type="gold"] {
  background-color: gold;
  color: black;
}

.selected[data-ranking-type="silver"] {
  background-color: silver;
  color: black;
}

.selected[data-ranking-type="bronze"] {
  background-color: #d88a3c; /* Bronze color */
  color: black;
}

.selected[data-ranking-type="total"] {
  background-color: #ff0000; /* Gold-like color for total */
  color: black;
}

button {
  background-color: #1bd546; /* Green background */
  border: 2px solid transparent;
  color: white; /* White text */
  padding: 7px 15px; /* Reduced padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons appear side by side */
  font-size: 14px; /* Reduced font size */
  margin: 3px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 20px; /* Rounded corners */
  transition-duration: 0.2s; /* 0.4 second transition effect to hover state */
  font-family : "Open+Sans", sans-serif;
}

button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #1bd546; /* Green border on hover */
}

#search-box {
  margin-top : 15px;
  color: black; /* White text */
  padding: 7px 15px; /* Reduced padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons appear side by side */
  font-size: 14px; /* Reduced font size */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition-duration: 0.2s; /* 0.4 second transition effect to hover state */
  font-family : "Varela Round", serif;
}
#search-box:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid blue; /* Green border on hover */
}